﻿@model Coupon
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete Coupon</h2>
<br />

<form method="post">
    <div class="border backgroundWhite">
        <div class="form-group row">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Picture)" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
        </div>
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="CouponType" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Discount" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Discount" class="form-control" />
                </div>
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="MinimumAmount" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MinimumAmount" class="form-control" />
                </div>
                <span asp-validation-for="MinimumAmount" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="IsActive" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input type="checkbox" asp-for="IsActive" class="form-control" />
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="@Model.Id" />
            </div>
        </div>
    </div>

</form>