﻿@model Spice.Models.MenuItem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Menu Item Details</h2>
<br />

<div class="border backgroundWhite row">
    <div class="col-8">
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Description)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Category.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="SubCategory.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-3 offset-1">
        <img src="@Model.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
    </div>

    <div class="col-8">
        <div class="col-8 offset-4">
            <partial name="_DetailsAndBackToListButton" model="@Model.Id" />
        </div>
    </div>

</div>

@section Scripts{

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format',
            readonly: true
        });
    </script>

}